@using MVC_StokTakip.Models.Entity
<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top gradient-ibiza">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link toggle-menu" href="javascript:void();">
                    <i class="icon-menu menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <form class="search-bar">
                    <input type="text" class="form-control" placeholder="Enter keywords">
                    <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                </form>
            </li>
        </ul>

        <ul class="navbar-nav align-items-center right-nav-link">
            <li class="nav-item dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                    <i class="icon-envelope-open"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            You have 4 new messages
                            <span class="badge badge-danger">4</span>
                        </li>
                        <li class="list-group-item">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <div class="avatar"><img class="align-self-start mr-3" src="~/color-admin/assets/images/avatars/avatar-1.png" alt="user avatar"></div>
                                    <div class="media-body">
                                        <h6 class="mt-0 msg-title">Jhon Deo</h6>
                                        <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                        <small>Today, 4:10 PM</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <div class="avatar"><img class="align-self-start mr-3" src="~/color-admin/assets/images/avatars/avatar-2.png" alt="user avatar"></div>
                                    <div class="media-body">
                                        <h6 class="mt-0 msg-title">Sara Jen</h6>
                                        <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                        <small>Yesterday, 8:30 AM</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <div class="avatar"><img class="align-self-start mr-3" src="~/color-admin/assets/images/avatars/avatar-3.png" alt="user avatar"></div>
                                    <div class="media-body">
                                        <h6 class="mt-0 msg-title">Dannish Josh</h6>
                                        <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                        <small>5/11/2018, 2:50 PM</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <div class="avatar"><img class="align-self-start mr-3" src="~/color-admin/assets/images/avatars/avatar-4.png" alt="user avatar"></div>
                                    <div class="media-body">
                                        <h6 class="mt-0 msg-title">Katrina Mccoy</h6>
                                        <p class="msg-info">Lorem ipsum dolor sit amet.</p>
                                        <small>1/11/2018, 2:50 PM</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item"><a href="javaScript:void();">See All Messages</a></li>
                    </ul>
                </div>
            </li>
            @{
                MVC_StokTakipEntities db = new MVC_StokTakipEntities();
                var kullanici = db.Kullanicilar.FirstOrDefault(x => x.KullaniciAdi.Equals(User.Identity.Name));

                if (kullanici != null)//Kullanıcı atantike olmuşsa
                {
                    int count = db.Sepet.Where(x => x.KullaniciID == kullanici.Id).Count();
                    if (count > 0)
                    {
                        <li class="nav-item dropdown-lg">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href=@Url.Action("Index","Sepet")>
                                @*1.Yöntemegöre*@
                                @*<i class="icon-basket-loaded"></i> <span class="badge badge-primary badge-up">   @{ Html.RenderAction("UrunSayisi", "Sepet"); }</span>*@
                                @*2.Yönteme göre*@

                                <i class="icon-basket-loaded"></i> <span class="badge badge-primary badge-up"> @{ Html.RenderAction("TotalCount", "Sepet"); }</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                                <ul class="list-group list-group-flush">
                                    @{
                                        var model = db.Sepet.Where(x => x.KullaniciID == kullanici.Id).Take(3).ToList();
                                        decimal SepetTopFiyat = db.Sepet.Take(3).Sum(x => x.ToplamFiyati);
                                        foreach (var urn in model)
                                        {
                                            <li class="list-group-item">
                                                <a href="javaScript:void();">
                                                    <div class="media">
                                                        <i class="icon-plus fa-2x mr-3 text-info"></i>
                                                        <div class="media-body">
                                                            <h6 class="mt-0 msg-title">@urn.Urunler.UrunAdi</h6>
                                                            <p class="msg-info">@urn.Miktari x @urn.BirimFiyati <span class="badge badge-primary pull-right"> @urn.ToplamFiyati ₺</span></p>


                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }


                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Toplam Sepet Fiyat:
                                        <span class="badge badge-primary pull-right">@SepetTopFiyat ₺</span>
                                    </li>


                                   
                                    <li class="list-group-item ">

                                        <div class="alert alert-info alert-dismissible" role="alert">
                                            @*<button type="button" class="close" data-dismiss="alert">×</button>*@
                                            <div class="alert-icon contrast-alert">
                                                <i class="icon-check"></i>
                                            </div>
                                            <div class="alert-message">
                                                <span>
                                                    <a href="@Url.Action("Index","Sepet")" class="text-white">
                                                        <span>TÜM ÜRÜNLERİ GÖR</span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                       





                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown-lg">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href=@Url.Action("Index","Sepet")>
                                <i class="icon-basket-loaded"></i>
                            </a>
                        </li>
                    }
                }
            }




            <li class="nav-item dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                    <i class="icon-bell"></i><span class="badge badge-primary badge-up">10</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            You have 10 Notifications
                            <span class="badge badge-primary">10</span>
                        </li>
                        <li class="list-group-item">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <i class="icon-people fa-2x mr-3 text-info"></i>
                                    <div class="media-body">
                                        <h6 class="mt-0 msg-title">New Registered Users</h6>
                                        <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <i class="icon-cup fa-2x mr-3 text-warning"></i>
                                    <div class="media-body">
                                        <h6 class="mt-0 msg-title">New Received Orders</h6>
                                        <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <i class="icon-bell fa-2x mr-3 text-danger"></i>
                                    <div class="media-body">
                                        <h6 class="mt-0 msg-title">New Updates</h6>
                                        <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item"><a href="javaScript:void();">See All Notifications</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item language">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="#"><i class="flag-icon flag-icon-gb"></i></a>
                <ul class="dropdown-menu dropdown-menu-right animated fadeIn">
                    <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                    <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                    <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                    <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                    <span class="user-profile"><img src="~/color-admin/assets/images/avatars/mesut.png" class="img-circle" alt="user avatar"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right animated fadeIn">
                    <li class="dropdown-item user-details">
                        <a href="#">
                            <div class="media">
                                <div class="avatar"><img class="align-self-start mr-3" src="~/color-admin/assets/images/avatars/mesut.png" alt="user avatar"></div>
                                <div class="media-body">

                                    @if (Session["AdSoyad"] != null || Session["Email"] != null)
                                    {
                                        <h6 class="mt-2 user-title">@Session["AdSoyad"]</h6>
                                        <p class="user-subtitle">@Session["Email"]</p>
                                    }
                                    else
                                    {
                                        <h6 class="mt-2 user-title"></h6>
                                        <p class="user-subtitle"></p>

                                    }



                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><i class="icon-envelope mr-2"></i> GelenKutusu</li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Hesabım</li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><i class="icon-settings mr-2"></i> Ayalar</li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="/Kullanicilar/Guncelle/" class="text-dark">
                            <i class="icon-settings mr-2"></i> Bilgilerimi Güncelle
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="/Kullanicilar/LogOut/" class="text-warning">
                            <i class="icon-power mr-2"></i> Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>



