@model MVC_StokTakip.Models.Entity.Sepet
@{
    ViewBag.Title = "SatinAl";
}



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> Satın Alma İşlemleri</div>
            <div class="card-body">
                <div class="container">
                    @using (Html.BeginForm("SatinAl", "Satislar", FormMethod.Post))
                    {
                        <div class="modal-body">
                            @Html.HiddenFor(x => x.ID)
                            <div class="form-group">
                                @*<label>Kullanıcı Ad Soyad: </label>*@
                                @Html.LabelFor(x => x.Kullanicilar.KullaniciAdi):
                                @Html.DisplayFor(x => x.Kullanicilar.AdiSoyadi, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Ürün Adı: </label>
                                @Html.DisplayFor(x => x.Urunler.UrunAdi, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Birim Fiyatı: </label>
                                @Html.DisplayFor(x => x.BirimFiyati, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Miktar: </label>
                                @Html.DisplayFor(x => x.Miktari, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Toplam Fiyat: </label>
                                @Html.DisplayFor(x => x.ToplamFiyati, new { @class = "form-control" })
                            </div>
                            @*<div class="form-group">
                                @Html.LabelFor(x => x.Tarih):

                                @Html.TextBoxFor(x => x.Tarih, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @readonly = "true" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Saat):
                                @Html.TextBoxFor(x => x.Saat, "{0:HH:mm}", new { @class = "form-control", type = "time", @readonly = "true" })
                            </div>*@
                        </div>
                        <div class="modal-footer">
                            <a href="@Url.Action("Index","Sepet")" class="btn btn-danger"><i class="fa fa-times"></i> Close</a>
                            <button class="btn btn-success">Satın Al</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
