@model MVC_StokTakip.MyModel.MyKategoriler
@{
    ViewBag.Title = "KategoriEkle";
}

<div class="row">
    <div class="col-lg-8 pull-left">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("KategoriEkle", "Kategoriler", FormMethod.Post))
                {
                    @*<form class="form-group" method="post" action="/Kategoriler/KategoriEkle/">*@
                    @Html.ValidationSummary() @*Tüm validationların alt alta gözükmesini sağlıyo*@
                    @Html.AntiForgeryToken()

                    <h4 class="form-header text-uppercase">
                        <i class="fas fa-plus-square"></i> KATEGORİ EKLEME
                    </h4>

                    <div class="form-group row">
                        <label class="col-sm-2">Kategori Adı</label>
                        <div class="col-sm-10">
                            @*<input type="text" class="form-control" name="Kategori" />*@
                            @Html.TextBoxFor(m => m.Kategori, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Kategori, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Açıklama</label>
                        <div class="col-sm-10">
                            @*<textarea class="form-control" rows="4" name="Aciklama"></textarea>*@
                            @Html.TextAreaFor(m => m.Aciklama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Aciklama, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-footer">
                        <button type="submit" class="btn btn-success"><i class="far fa-save"></i> KAYDET</button>
                        <button id="btnEkle" type="submit" class="btn btn-success"><i class="far fa-save"></i> KAYDET</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $("#btnEkle").click(function () {
        //alert("Ekleme İşlemi Başarılı.Kategoriler Sayfasına yönlendirliyorsunuz..")
        swal("İşlem Başarılı!", "Kategoriler Sayfasına yönlendirliyorsunuz..!", "success");

    });
</script>

@section Validate
    {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

